.Concert.one {
  background-color: var(--card-1);
}
.Concert.two {
  background-color: var(--card-2);
}
.Concert.three {
  background-color: var(--card-3);
}
.Concert.five {
  background-color: var(--card-5);
}
.concert-details {
  width: 80vw;
  margin: auto;
  text-align: left;
  padding-top: 10vh;
  padding-bottom: 200px;
}

.concert-details .info {
  /* border: 2px solid black; */
}

.concert-details .info .artist {
  /* border: 2px solid black; */
  font-family: var(--title-font);
  /* text-align: right; */
  margin-bottom: 0px;
  font-size: clamp(1rem, 3.5vw, 2.5rem);
  font-weight: 800;
  letter-spacing: 0.06em;
  /* color: var(--ticket-details); */
  text-transform: uppercase;
}

.concert-details .info .tourName {
  margin-top: 0px;
  font-weight: 900;
  font-variation-settings: "wdth" 125;
  /* border: 2px solid black; */
  /* text-align: left; */
  /* max-width: 520px; */
  font-size: clamp(1.5rem, 3.5vw, 3.5rem) !important;
  /* line-height: 0.95; */
  letter-spacing: 0.5px;
}

.concert-details .info .date {
  /* padding: 8px 0px; */
  margin-bottom: 16px;
  /* text-align: left; */
  /* max-width: 500px; */
  font-size: clamp(0.8rem, 1.5vw, 1.5rem);
  /* line-height: 1.7; */
  margin-top: 0;
  color: var(--ticket-details);
}

.concert-details .box {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.concert-details .box > div > p {
  /* border: 2px solid black; */
  margin: 0;
}

.concert-details .box .location,
.concert-details .box .setlist {
  font-family: var(--text-font);
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: 800;
  color: var(--ticket-details);
}

.concert-details .box .setlist {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* border: 2px solid black; */
  /* cursor: pointer;
    background-color: var(--card-3);
    border: 2px solid black;
    box-shadow: 
        1px 1px 0px 0px,
        2px 2px 0px 0px,
        3px 3px 0px 0px;
    position: relative;
    padding: 4px 8px; */
  height: fit-content;
  font-family: var(--secondary-font);
  rotate: -1deg;
  background-color: white;
  /* font-weight: 900; */
}
/* .concert-details .box .setlist:active{
    box-shadow: 0px 0px 0px 0px;
    top: 3px;
    left: 3px;
} */

.concert-details .box .setlist a {
  text-decoration: none;
  color: black;
}

.concert-details .poster {
  /* border: 2px solid black; */
  margin: 8px auto;
  /* width: 80%; */
  /* aspect-ratio: 4/5; */
}

.concert-details .poster img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

.concert-details .text, .concert-details .gallery {
    max-width: 80%;
    margin: auto;
}

.concert-details .text {
  /* border: 2px solid black; */
  padding: 8px 0;
  font-size: clamp(0.9rem, 1.8vw, 1.5rem);
  font-family: var(--text-font);
  font-weight: 500;
  line-height: 1.3;
  /* font-variation-settings: "wdth" 110; */
}

.concert-details .text h3 {
  font-weight: 800;
  font-variation-settings: "wdth" 130;
  /* color: var(--ticket-details); */
}

.concert-details .text i {
  font-variation-settings: "slnt" -1;
}

.concert-details .gallery {
  /* border: 2px solid black; */
  margin: 16px auto;
  /* display: flex; */
  /* flex-direction: column; */
}
.concert-details .gallery img {
  display: block;
  margin: 8px auto;
  max-width: 100%;
  height: auto;
  /* padding: 0 8px; */
}

/* unique image styling for each concert */

.travis-scott-october-2024 .gallery img:nth-child(3),
.travis-scott-october-2024 .gallery img:nth-child(4) {
  /* border: 3px solid orange; */
  width: 49%;
  display: inline-block;
  aspect-ratio: 4 / 5;
  object-fit: cover;
}
.travis-scott-october-2024 .gallery img:nth-child(3){
    margin-right: 16px;
}
.travis-scott-october-2024 .gallery img:nth-child(5) {
  aspect-ratio: 4/3;
  object-fit: cover;
  object-position: 100% 60%;
  display: inline-block;
  width: 65%;
  vertical-align: middle;
}
.travis-scott-october-2024 .gallery img:last-child {
  aspect-ratio: 4/5;
  object-fit: cover;
  width: 25%;
  display: inline-block;
  vertical-align: middle;
  padding-left: 16px;
}

/* .beyoncé-may-2025 .gallery img:nth-child(2), 
.beyoncé-may-2025 .gallery img:nth-child(3), 
.beyoncé-may-2025 .gallery img:nth-child(4), 
.beyoncé-may-2025 .gallery img:nth-child(5), 
.beyoncé-may-2025 .gallery img:nth-child(6), 
.beyoncé-may-2025 .gallery img:nth-child(7){
    width: 49%;
    display: inline-block;
    aspect-ratio: 3/4;
    object-fit: cover;
} */
.beyoncé-may-2025 .gallery img[src*="half"] {
  width: 49%;
  display: inline-block;
  aspect-ratio: 3/4;
  object-fit: cover;
}
.beyoncé-may-2025 .gallery img:nth-child(2),
.beyoncé-may-2025 .gallery img:nth-child(4),
.beyoncé-may-2025 .gallery img:nth-child(6) {
  margin-right: 8px;
}
