.Header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    font-size: 1.65rem;
    color: white;
    background-color: black;
}

.Header a {
    text-decoration: none;
    color: inherit;
}

.Header .title{
    font-family: var(--title-font);
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
}

.Header .portfolio-link {
    font-family: "Silkscreen";
}