.Hero {
  position: relative;
  width: 100%;
  height: 70vh;
  background-color: #000000; /* Add your background color or image here */
  box-shadow: 0px 60px 50px 30px black;
}

.Hero .title {
  position: fixed;
  /* Start positioned directly in the center of the viewport */
  top: 35%;
  left: 50%;
  /* top: 0;
  left: 0; */
  /* width: 100%; */
  width: max-content;
  /* height: 100vh; */
  /* display: grid; */

  /* place-items: center; */

  white-space: nowrap;
  font-size: 3rem;
  color: white;
  font-weight: bold;
  /* z-index: 100; */
  pointer-events: none; /* Allows user to click things behind the text */

  /*
    -50% keeps it perfectly centered at start.
    As --scroll goes from 0 to 1, it shifts toward the top left.
    Adjust 20px / 16px to match your desired header margin padding.
  */
  transform: translate(
    calc(-50% + (var(--scroll) * (-55vw + 35% + 30px))),
    calc(-50% + (var(--scroll) * (-53vh + 50% + 20px)))
  )
   /* transform: translate(
    calc(var(--scroll) * (-50% + 24px)),
    calc(var(--scroll) * (-50% + 20px))
   ) */
  /* Optional: Shrink text slightly (to 70% scale) as it settles into the header */
  scale(calc(1 - (var(--scroll) * 0.4)));
  
  /* Origin shift ensures clean scaling toward the top-left */
  transform-origin: center center; 
}
