.Hero {
  position: relative;
  width: 100%;
  height: 80vh;
  box-shadow:
    0 20px 40px rgb(0, 0, 0),
    0 40px 80px rgb(0, 0, 0);
}
.Hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.77) 99%),
    url(../assets/photos/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(150%);
  z-index: 1;
}
.Hero::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 100%;
  left: 1px;
  right: 1px;
  height: 20px;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: 2;
}

.Hero .title {
  position: fixed;
  top: 35%;
  left: 50%;
  width: max-content;
  z-index: 3;
  white-space: nowrap;
  font-size: 3rem;
  font-family: var(--title-font);
  letter-spacing: 4px;
  color: var(--title-color);
  text-shadow:
    0 0 5px var(--title-shadow),
    0 0 10px var(--title-shadow);
  font-weight: 600;
  text-transform: uppercase;
  pointer-events: none;
  transform: translate(
      calc(-50% + (var(--scroll) * (-70vw + 50%))),
      calc(-50% + (var(--scroll) * (-44vh + 35%)))
    )
    scale(calc(1 - (var(--scroll) * 0.5)));
  transform-origin: center center;
}

@media (max-width: 500px){
  .Hero .title {
    font-size: 1.4rem ;
    transform: translate(
      calc(-50% + (var(--scroll) * (-45vw + 50%))),
      calc(-50% + (var(--scroll) * (-45vh + 35%)))
    )
    ;
  }
}

@media (min-width: 501px) and (max-width: 768px){
  .Hero .title {
    font-size: 2rem;
    transform: translate(
      calc(-50% + (var(--scroll) * (-58vw + 50%))),
      calc(-50% + (var(--scroll) * (-42vh + 35%)))
    )
    scale(calc(1 - (var(--scroll)) * 0.25))
    ;
  }
}