.home-content {
  /* height: 300vh; */
  /* background-color: red; */
  padding-top: 80px;
  /* min-height: 400vh; */
}

.Home .header {
    position: sticky;
    top: 0;
    width: 100%;
    /* min-height: 100vh; */
    opacity: 0;
    animation: fadeIn linear both;
    animation-timeline: scroll(root);
    animation-range: 79vh 81vh;
    z-index: 100;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.stack-section {
  padding: 10px 20px;
  min-height: 50px;
}

.stack-heading {
    /* max-width: 1120px; */
    /* margin: auto; */
    position: sticky;
    top: 100px;
    font-family: var(--secondary-font);
    font-size: 1.5rem;
}

.stack-heading h2 {
    margin: auto;
    margin-bottom: 48px;
    rotate: -1deg;
    color: black;
    background-color: white;
    width: max-content;
}







