@font-face {
  font-family: "Impact Label";
  src: url(./assets/fonts/Impact\ Label.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Dot Gothic";
  src: url(./assets/fonts/DotGothic16-Regular.ttf);
}

@font-face {
  font-family: "Silkscreen";
  src: url(./assets/fonts/Silkscreen-Regular.ttf);
}

@font-face {
  font-family: 'Google Sans Flex';
  src: url(./assets/fonts/GoogleSansFlex-VariableFont_GRAD\,ROND\,opsz\,slnt\,wdth\,wght.ttf);
}

:root {
  --secondary-font: "Impact Label", sans-serif;
  --title-font: "Dot Gothic";
  --text-font: "Google Sans Flex";
  --background: rgb(44, 39, 39);
  --title-color: white;
  --title-shadow: rgb(0, 0, 0);
  --card-1: #f3931d;
  --card-2: #ee4525;
  --card-3: #e2dbc1;
  --card-4: #222b2a;
  /* --card-5: #4ebdbf; */
  --card-5: #437D80;
  --ticket-details: rgba(0, 0, 0, 0.48)
}

.App {
  text-align: center;
  background-color: var(--background);
  width: 100%;
}
